.nav {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  margin-left: auto;
  margin-right: 80px;
  padding-top: 30px;
}

.nav__links {
  margin: 0px;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  list-style-type: none;

  justify-content: flex-end;
}

.nav__link {
  list-style-type: none;
  text-decoration: none;
  color: black;
  transition: color;
  transition-delay: 0.1s;
  transition-timing-function: ease;
}

.nav__link:hover {
  color: #2f80ed;
}
